<h1>New Menu Item</h1>
<% if @menu_item.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@menu_item.errors.count, "error") %>
      prohibited this article from being saved:
    </h2>
 
    <ul>
    <% @menu_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render 'form', post: @menu_item %>