<div class="nav-container">
    <nav class='nav-checkbox'>
        <a href="#" class="logo"><%= link_to image_tag("Pizza_pi_logo_v2.svg"), root_path %></a>
        <input id="tab-nav" type="checkbox" class="tab-nav">
        <label for="tab-nav" class="tab-nav-label">Menu</label>
        <ul class="tab-content">
            
        </ul>
    </nav>
</div>