



<h1>Pages#home</h1>
<% if user_signed_in?%>
    <%= button_to "Menu", menus_path, :method => :get %>
    <% if current_user.manager == true%>
         <%= button_to "Add Menu Item",new_menu_item_path, :method => :get %>
          <%= button_to "Index of Menu Items", menu_items_path, :method => :get %>
    <% end %>
<% else %>
    <h2>Please Sign In to view menu</h2>
<% end %>


    

